---
layout: default
---

<div class="hentry" id="{{ page.id }}">
  <h2 class="entry-title">{{ page.title }}</h2>
  {% if page.author %}
  <div class="vcard">
    by <span class="fn">{{ page.author }}</span>
  </div>
  {% endif %}

  <div class="entry-content">
    {{ content }}
  </div>
  <div class="meta"
    <p class="posted">published <abbr class="published" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</abbr> <a href="{{ site.url }}{{ page.id }}" rel="bookmark">#</a></p>
  </div>
  {% if page.tags != empty %}
  <dl class="entry-meta">
      <dt>Tags:</dt>
      <dd>
        {% for t in page.tags %}<a href="/tags/{{ t }}" rel="tag">{{ t }}</a>
        {% endfor %}
      </dd>
  </dl>
  {% endif %}
</div>



<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
